 <header class="scroll-section">
  <img src="{3vot}/assets/clay-in-smartphone.jpg" alt="">
  <div class="intro">
    <h1><span class="text-clay">Con Clay</span> niños aprenden a construir apps en 4 horas</h1>
    <h6>Septiembre 12, 2014</h6>
  </div>
</header> 

<div class="container">
     
      <div id="scroll-scroller" class="scroll-scroller">

        <div class="social">

            <!-- Each image is 350px by 233px -->
            <div class="social-feed">
                
                <div class="social-item translate">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    Nuestro coordinador de ciencias @geovacordero se sumó al Hackaton #SEKCostaRica  @armova @REcheverria 
                  </div>
                </div>
                
                <div class="social-item translate featured">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    @armova volvió a las aulas del #SEKCostaRica para coordinar el Primer Hackaton @3VOT @REcheverria
                  </div>
                </div>
                <div class="social-item translate">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    La experiencia del Hackaton se prolongará por casi 5 horas la mañana de hoy #SEKCostaRica @3VOT @armova @REcheverria 
                  </div>
                </div>
                <div class="social-item translate">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    Profesores de #SEKCostaRica no han querido perderse el Primer Hackaton coordinado por nuestro antiguo alumno @armova 
                  </div>
                </div>
                 <div class="social-item translate">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    Pantalla de trabajo de Felipe Arango en Primer Hackaton de #SEKCostaRica 
                  </div>
                </div>
                <div class="social-item translate featured">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                    Agradecemos a los facilitadores del Primer Hackaton de #SEKCostaRica @REcheverria @3VOT @armova 
                  </div>
                </div>
                <div class="social-item translate">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                   Experiencia pionera en #SEKCostaRica con el Primer Hackaton @3VOT @3VOT @REcheverria  
                  </div>
                </div>
                <div class="social-item translate">
                   <span class="icon icon-twt"></span>
                    <div class="avatar sek"></div>
                   <div class="profile"><strong>Col SEK Costa Rica</strong><span>@SEKCosta_Rica</span></div>
                  <div class="message">
                   Sesión de trabajo en equipo en el Primer Hackaton de #SEKCostaRica gracias a @armova @REcheverria @3VOT 
                  </div>
                </div>
                
            </div>
        </div>

        <div class="hour start" ><span class="clock"></span>A las 8:00 AM ése día...</div>
        <section class="scroll-section shadow-top">
          <article class="scroll-side scroll-side-left">
            <h2>Clay llega al colegio SEK</h2>
            <p>Example text</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/1.jpg" alt="img01">
          </figure>
        </section>

        <div class="hour "><span class="clock"></span>A las 8:20 AM</div>
        <section class="scroll-section">
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/820am.jpg" alt="820">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Los jóvenes entran al Salón</h2>
            <p>Cada uno con su laptop listo para programar</p>
          </article>
        </section>

        <div class="hour "><span class="clock"></span>A las 8:30 AM</div>
        <section class="scroll-section">
          <article class="scroll-side scroll-side-left">
            <h2>Introducción sobre desarrollo web</h2>
            <p>Nuestro Co-fundador hace una presentación sobre HTML, CSS, JS</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/830am.jpg" alt="830am">
          </figure>
        </section>

        <div class="hour "><span class="clock"></span>A las 9:00 AM</div>
        <section class="scroll-section">
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/900am.jpg" alt="9am">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Los jóvenes instalan Clay en sus Computadoras</h2>
            <p>No les toma más de 5 minutos</p>
          </article>
        </section>

        <div class="hour "><span class="clock"></span>A las 9:05 AM</div>
        <section class="scroll-section">
          <article class="scroll-side scroll-side-left">
            <h2>Todos descargan un app de Clay</h2>
            <p>Texto</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/905am.jpg" alt="905am">
          </figure>
        </section>

        <div class="hour "><span class="clock"></span>A las 9:30 AM</div>
        <section class="scroll-section">
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/930am.jpg" alt="930am">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Cada joven modifica el HTML y CSS de su app</h2>
            <p>Agregan imágenes, cambian colores y escriben su contacto</p>
          </article>
        </section>
    

        <div class="hour "><span class="clock"></span>A las 10:30 AM</div>
        <section class="scroll-section">
          <article class="scroll-side scroll-side-left">
            <h2>Todos suben sus apps en línea</h2>
            <p>Utilizando un sólo comando de CLAY</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/1030am.jpg" alt="1030am">
          </figure>
        </section>

        <div class="hour "><span class="clock"></span>A las 10:35 AM</div>
        <section class="scroll-section">
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/1035am.jpg" alt="1035am">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Cada joven visualiza su app en vivo</h2>
            <p>Y comparten la dirección de su app con el resto</p>
          </article>
        </section>

        <div class="hour "><span class="clock"></span>A las 10:40 AM</div>
        <section class="scroll-section">
          <article class="scroll-side scroll-side-left">
            <h2>Conversamos sobre las virtudes de Javascript</h2>
            <p>Y cada joven hace un ejercicio corto</p>
          </article>
          <figure class="scroll-side scroll-side-right">
            <img src="{3vot}/assets/1040am.jpg" alt="1040am">
          </figure>
        </section>

        <div class="hour "><span class="clock"></span>A las 11:00 AM</div>
        <section class="scroll-section">
          <figure class="scroll-side scroll-side-left">
            <img src="{3vot}/assets/1100am.jpg" alt="1100am">
          </figure>
          <article class="scroll-side scroll-side-right">
            <h2>Una corta presentación sobre CLAY</h2>
            <p>Cómo funciona y porqué es tan rápido</p>
          </article>
        </section>


      </div>

    </div>


  <footer>
    <div class="metrics-box">
      <div class="metric"><img src="{3vot}/assets/icon-kid.png" alt="40 kids">40 niños</div>
      <div class="metric"><img src="{3vot}/assets/icon-smartphone.png" alt="40 apps">40 Apps</div>
      <div class="metric"><img src="{3vot}/assets/icon-code.png" alt="4000 lines of code">4000 Líneas de código</div>
      <div class="metric"><img src="{3vot}/assets/icon-deploy.png" alt="20 deploys">20 Deploys</div>
    </div>
    

  </footer>
    